allow gpsd sensorservice_service:service_manager find;
allow gpsd servicemanager:binder call;

allow gpsd system_server:binder call;
allow gpsd system_server:fd use;
allow gpsd system_server:unix_stream_socket { read write };
