# hdmi_helper
type hdmi_helper, domain;
type hdmi_helper_exec, exec_type, file_type;
init_daemon_domain(hdmi_helper)

allow hdmi_helper display_service:service_manager find;
allow hdmi_helper servicemanager:binder call;

allow hdmi_helper self:netlink_kobject_uevent_socket { bind create read setopt };
