# pvrsrvctl
type pvrsrvctl, domain;
type pvrsrvctl_exec, exec_type, file_type;
init_daemon_domain(pvrsrvctl)

allow pvrsrvctl gpu_device:chr_file { getattr ioctl open read write };
allow pvrsrvctl self:capability { sys_module sys_admin };

allow pvrsrvctl system_file:file execmod;
