allow system_server gpsd:binder transfer;
allow system_server gps_data_file:fifo_file { open read write setattr };

allow system_server system_file:file execmod;
