# IMG Graphics
/dev/pvr_sync                           0666   system     system

# Bluetooth
/dev/ttyMFD0                            0660   bluetooth  net_bt_stack

# GPS
/dev/ttyMFD1                            0660   system     system
