# IMG Graphics
/dev/pvr_sync                           0666   system     system

# Bluetooth
/dev/ttyMFD0                            0660   bluetooth  net_bt_stack

# GPS
/dev/ttyMFD1                            0660   system     system

# Camera
/dev/video*                             0660   root       camera
/dev/v4l-subdev*                        0660   root       camera
/dev/media*                             0660   root       camera

# RIL
/dev/umts_boot0                         0660   radio      radio
/dev/umts_ipc0                          0660   radio      radio
/dev/umts_rfs0                          0660   radio      radio
/dev/block/mmcblk0p12                   0660   radio      radio
